# payloads do jogo (BYO-data — não versionar)
payload/
terraria
terraria-universal
terraria.arkos
*.o
.build/
.nxextract/
.nxextract-terraria.json
.terraria-data.json
bin/
gamedata/*.apk
gamedata/*.apkm
gamedata/*.apks
gamedata/*.xapk
*.apk
*.apkm
*.apks
*.xapk
*.obb
libunity.so
libil2cpp.so
libc++_shared.so
global-metadata.dat
userdata/
Players/
Worlds/
config.json
InterfaceProfiles.json
VirtualControls.json
run.out
run.log
debug.log
nxextract.log
shot.ppm
__pycache__/
*.pyc
